html,
body {
  height: 100%;
  font-size: 0.95rem;
}

.wrap {
  min-height: calc(100vh - 60px);
  height: auto;
  padding: 0 0 20px;

  > .container {
    padding: 20px 15px;
  }
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.table > :not(:first-child) {
  border-color: inherit;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.footer {
  height: 60px;
  padding-top: 20px;
}

.yii-debug-toolbar__ajax {
  color: black;
}