[mysqld]
skip-name-resolve
datadir=/var/lib/mysql
user=mysql
symbolic-links=0
pid-file=/var/run/mysqld/mysqld.pid
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
default_character_set = utf8mb4
