mixin siteAdout(title)
    .site-about
        h1=title
        article
            p This is the About page.
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a nisi leo. Vestibulum ac lacinia ante,
                | sed dignissim odio. Quisque aliquam ante vitae tortor fermentum, eget varius sapien sodales. Nunc quam
                | lorem, placerat et tortor eu, tincidunt fermentum enim. Pellentesque lobortis diam tincidunt eros
                | posuere, vitae faucibus felis porttitor. Praesent faucibus dapibus leo nec ornare. Fusce bibendum
                | pretium turpis, id tincidunt neque scelerisque sit amet. Maecenas nibh nibh, dictum vel sapien quis,
                | tempus dapibus metus. Fusce dolor nibh, fringilla non tempor et, finibus id tortor. Sed blandit, justo
                | quis sollicitudin pharetra, eros sem volutpat odio, nec tempus orci dui nec enim. Curabitur mollis
                | ultricies dolor in feugiat. Maecenas auctor eleifend interdum. Vestibulum mattis quam non metus mattis,
                | sed sollicitudin ligula cursus. Aenean quis aliquam metus. Quisque a tempus metus. Vivamus nulla est,
                | dapibus quis nisi vitae, tristique vehicula enim.