p
    | Здравствуйте,&nbsp;
    =username
p
    | Поздравляем Вас с успешной регистрацией на сайте&nbsp;
    =domain
    |.
p
    | Для завершения регистрации перейдите по&nbsp;
    a(target='_blank' href=confirmLink) ссылке