p
    | Здравствуйте,&nbsp;
    =username
    | !
p
    | Вы получили это письмо, так как нам поступил запрос на восстановление Вашего пароля на сайте&nbsp;
    =domain
    | .
p
    | Для обновления пароля, пожалуйста, перейдите по&nbsp;
    a(target='_blank' href=resetLink) ссылке
p
    | Если Вы&nbsp;не&nbsp;обращались к&nbsp;процедуре восстановления пароля, просто проигнорируйте данное письмо. Ваш пароль не&nbsp;будет изменен.
